# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VSCode settings
.vscode/

# Ignore environment files
.env
*.env

# Ignore data files
*.csv
*.xlsx
